doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="application-name" content="")
    meta(name="description" content="")

    title 

    include blocks/_head.pug
  body
    header
    nav
    div#container
      p Hi hi!
    footer