link(rel="stylesheet" href="css/main.css")

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

script(src="js/vendor.js")
script(src="js/app.js")

link(rel="icon" type="image/png" href="images/icon/favicon.png")